{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "plugin:jest/recommended"],
  "plugins": ["prettier", "jest"],
  "rules": {
    "prettier/prettier": ["error"]
  },
  "env": {
    "jest": true
  }
}
